<div class="sidebar">

  <div class="profile">
  <h2>DE-Bot</h2> 
  </div>
 
  <div  class="comp">

    <div>
      <a routerLink="home"><h2>Home</h2></a>
    </div>

    <div>
      <a routerLink="basicInfo" (click)="basicInfo()"><h2>Basic-Info</h2></a>
    </div>
    <div>
      <a routerLink="employeeList"><h2>List</h2></a>
    </div>
    <div>
      <a routerLink="basicInfo"><h2>Team</h2></a>
    </div>
    <div>
      <a routerLink="project"><h2>Project</h2></a>
    </div>
    <div>
      <a routerLink="ipDetails"><h2>IP Details</h2></a>
    </div>

    <!-- <li> <h2></h2></li>
    <li> <h2><a routerLink="basicInfo">Basic Info</a></h2></li>

    <li> <h2><a routerLink="employeeList">List</a></h2></li>
    <li> <h2><a routerLink="basicInfo">Team</a></h2></li>
    <li> <h2><a routerLink="basicInfo">Projects</a></h2></li>
    <li> <h2><a routerLink="basicInfo">Basic Info</a></h2></li> -->

  </div>

     <!-- <router-outlet></router-outlet> -->


</div>
