.table-container{
/* background-color:rgb(125, 117, 117); */
/* text-align: center; */
/* width: 100%; */
/* height: 500px; */
/* background-color: #e1e1e1; */

table{
    width: 100%;
    background-color: aliceblue;
    th{
        background-color: aqua;
    }
    td{
        text-align: center;
    }
}
}